@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer theme {
        :root {
            --background: lab(100% 0 0);
            --foreground: lab(2.75381% 0 0);
            --card: lab(100% 0 0);
            --card-foreground: lab(2.75381% 0 0);
            --popover: lab(100% 0 0);
            --popover-foreground: lab(2.75381% 0 0);
            --primary: lab(7.78201% -.0000149012 0);
            --primary-foreground: lab(98.26% 0 0);
            --secondary: lab(96.52% -.0000298023 .0000119209);
            --secondary-foreground: lab(7.78201% -.0000149012 0);
            --muted: lab(96.52% -.0000298023 .0000119209);
            --muted-foreground: lab(48.496% 0 0);
            --accent: lab(96.52% -.0000298023 .0000119209);
            --accent-foreground: lab(7.78201% -.0000149012 0);
            --destructive: lab(48.4493% 77.4328 61.5452);
            --border: lab(90.952% 0 -.0000119209);
            --input: lab(90.952% 0 -.0000119209);
            --ring: lab(66.128% -.0000298023 .0000119209);
            --chart-1: lab(57.1026% 64.2584 89.8886);
            --chart-2: lab(55.0223% -41.0774 -3.90277);
            --chart-3: lab(30.372% -13.1853 -18.7887);
            --chart-4: lab(80.1641% 16.6016 99.2089);
            --chart-5: lab(72.7183% 31.8672 97.9407);
            --sidebar: lab(98.26% 0 0);
            --sidebar-foreground: lab(2.75381% 0 0);
            --sidebar-primary: lab(7.78201% -.0000149012 0);
            --sidebar-primary-foreground: lab(98.26% 0 0);
            --sidebar-accent: lab(96.52% -.0000298023 .0000119209);
            --sidebar-accent-foreground: lab(7.78201% -.0000149012 0);
            --sidebar-border: lab(90.952% 0 -.0000119209);
            --sidebar-ring: lab(66.128% -.0000298023 .0000119209);
        }
    }

.bg-card {
    background-color: var(--card);
}

.border{
    @apply border-gray-200;
}
